@charset "ISO-8859-1";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dad3d3, #aa8686);; /* Light blue */
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.image-container img {
    width: 500px;
    height: 600px;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}