header {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h1 {
        color: #ffffff; /* White */
        margin: 0;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        margin-right: 20px;
    }
    nav ul li:last-child {
        margin-right: 0;
    }
    nav ul li a {
        color: #ffffff; /* White */
        text-decoration: none;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }